@{
    ViewBag.Title = "ManageMenu";
    Layout = "~/Views/_Layouts/AlmightyLayout.cshtml";
}

<h2>메뉴관리</h2>

<table class="tbl_menus_list">
    <tr>
        <th>코드</th>
        <th>상위코드</th>
        <th>메뉴이름</th>
        <th>URL</th>
        <th>접근권한</th>
        <th>사용여부</th>
        <th>수정날짜</th>
        <th>만든날짜</th>
    </tr>
    
    @foreach (var item in @Model)
    {
        <tr data-menu-code="@item.Code">
            <td>@item.Code</td>
            <td>@item.ParentCode</td>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td>@item.Role</td>
            <td>@item.Enabled</td>
            <td>@item.Modified</td>
            <td>@item.Created</td>
        </tr>
    }
</table>

<table id="menu-detail-form">
    <tr>
        <th>이름</th>
        <td><input type="text" name="menuName" id="menu-name" class="txt_box" /></td>
        <th>메뉴코드</th>
        <td><input type="text" name="menuName" id="menu-code" class="txt_box" /></td>
        <th>부모메뉴</th>
        <td><input type="text" name="menuName" id="menu-p-name" class="txt_box" /></td>
        <th>부모코드</th>
        <td><input type="text" name="menuName" id="menu-p-code" class="txt_box" /></td>
    </tr>
    <tr>
        <th>URL</th>
        <td><input type="text" id="menu-url" class="txt_box" /></td>
        <th>권한</th>
        <td><input type="text" id="menu-role" class="txt_box" /></td>
        <th>사용여부</th>
        <td><input type="text" id="menu-enabled" class="txt_box" /></td>
        <td></td><td></td>
    </tr>
</table>


<script>
    $(document).ready(function () {
        var code;
        $('.tbl_menus_list tr').click(function () {
            code = $(this).data('menu-code');

            $.ajax({
                url: '/Almighty/GetMenus',
                data: { code: code },
                success: function (data) {
                    $('#menu-name').val(data.Name);
                    $('#menu-code').val(data.Code);
                    GetParentName(data.ParentCode);
                    $('#menu-p-code').val(data.ParentCode);
                    
                    if (data.Url.length <= 0) {
                        $('#menu-url').val('없음');
                    }
                    else {
                        $('#menu-url').val(data.Url);
                    }
                    
                    $('#menu-role').val(data.Role);
                    $('#menu-enabled').val(data.Enabled);
                },
                error: function (xhr, error, status) {
                    alert(xhr + ":" + error + ":" + status + ":" + typeof (code));
                }
            });

            return false;
        });
    });

    /* 부모메뉴 이름 가져오기 */
    function GetParentName(parentCode) {
        var parentName;

        if (parentCode == '0') {
            $('#menu-p-name').val('최상위 메뉴');
        }
        else {
            $.ajax({
                url: '/Almighty/GetMenus',
                data: { code: parentCode },
                success: function (parent) {
                    $('#menu-p-name').val(parent.Name);
                }
            });
        }
    }
</script>
