@{
    ViewBag.Title = "Products";
    Layout = "~/Views/_Layouts/AlmightyLayout.cshtml";
}

<h2>Products</h2>

<div id="btn-wrapper"><input type="button" value="작성" onclick="moveWrite()"/></div>
<br />
<table id="tbl-products-list">
    <tr>
        <th>일련번호</th>
        <th>사진</th>
        <th>모델명</th>
        <th>제품명</th>
        <th>제품분류</th>
        <th>수정날짜</th>
        <th>만든날짜</th>
        <th>활성상태</th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Seq</td>
            <td></td>
            <td>@item.ModelName</td>
            <td>@item.ProductName</td>
            <td>@item.ProductCode</td>
            <td>@item.Enabled</td>
            <td>@item.Modified</td>
            <td>@item.Created</td>
            <td>
                <span class="btn_group">수정</span>
                <span class="btn_group">삭제</span>
            </td>
        </tr>
    }
    
</table>

<script>
    function moveWrite() {
        location.href = "/Almighty/Write";
    }
</script>