@{
    ViewBag.Title = "Main";
    Layout = "~/Views/_Layouts/MainLayout.cshtml";
}

<h2>Main</h2>

<div class="wrapper">
    <div id="summary-notice" class="summary">
        <div class="summary-title">공지사항</div>
        <ul>
            @foreach (var item in @Model.BbsList)
            {
                <li>
                    <span class="summary-subject">@item.Subject</span>
                    <span class="summary-created">@item.Created</span>
                </li>
            }
        </ul>
    </div>

    <div id="summary-estimate" class="summary">
        <div class="summary-title">견적서</div>
        <ul>
            @foreach (var item in @Model.BbsList)
            {
                <li>
                    <span class="summary-subject">@item.Subject</span>
                    <span class="summary-created">@item.Created</span>
                </li>
            }
        </ul>
    </div>
</div>

<div class="wrapper">
    <div id="popular-prod">
        [인기상품] <br />
        1.다음에디터 심고, 공지사항 먼저 완성<br />
        2.https://www.navimro.com/ 사이트참고<br />
        3.관리자모드 화면설계<br />
        4.상품 리스트 페이지 sublime 확인<br />
        5.공지사항 쓰기 모드를 관리자 모드에서만 실행<br />
        6.제품상세: 특징,용도,사용방법,주의사항<br />
        7.견적요청 버튼 구현(견적 장바구니)<br />
    </div>
</div>
